@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12pt;
  }
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}
a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 2rem 0;
}

p:last-child {
  margin: 0;
}

p.special {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  padding: 0 0 1rem 0;
  letter-spacing: 0.25rem;
}

p.special:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgb(3, 191, 204);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

.logo h1{
  color: white;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem;
}

code {
  background: rgba(51, 25, 197, 0.884);
  border-color: rgba(144, 144, 144, 0.25);
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* IMAGENS */

.image {
  display: inline-block;
  position: relative;
}

.image.flush {
  margin: 0 !important;
}

.image img {
  display: block;
}

.image.left,
.image.right {
  max-width: 50%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1rem 1rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 1rem 1rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
  height: 400px;
}

.image.menu {
  display: block;
  margin: 0 0 3rem 0;
  width: 100%;
}

.image.menu img {
  width: 100%;
}

/* LISTA */

ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}

ol li {
  padding-left: 0.25rem;
}

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}

ul li {
  padding-left: 0.5rem;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.5rem 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1rem 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 2rem;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1rem 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.5rem 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1rem 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.5rem 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1rem;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1rem);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1rem;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5rem;
  width: calc(100% + 0.5rem);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5rem;
}

/* HOLOFORTE */

.holoforte {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.holoforte > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}

.holoforte > * {
  width: 50%;
}

.holoforte p:last-child {
  margin: 0;
}

.holoforte .interior {
  padding: 6rem;
}

.holoforte .image {
  margin: 0;
}

.holoforte .image img {
  width: 100%;
}

.holoforte.alt {
  background: rgb(3, 191, 204);
  color: rgba(255, 255, 255, 0.753);
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: right;
}

.holoforte.alt > * {
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}

.holoforte.alt h3 {
  color: #fff;
}

.holoforte.alt .image {
  -moz-order: 2;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
}

@media screen and (max-width: 1280px) {
  .holoforte .interior {
    padding: 4rem;
  }
}

@media screen and (max-width: 736px) {
  .holoforte .interior {
    padding: 2rem;
  }
}

body:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
  -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
  -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
  transition: opacity 1.5s ease-in-out, visibility 1.5s;
  content: "";
  background-image: url(../../images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  visibility: visible;
  opacity: 1;
}

#header {
  color: #a6a6a6;
  cursor: default;
  position: relative;
  text-align: center;
  z-index: 10001;
}

#header > .logo {
  margin: 0 0 4rem 0;
  padding: 0;
}

#header > .logo a {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  line-height: 1rem;
}

#header > .logo span {
  font-weight: 300;
  font-size: 1rem;
  display: block;
  color: rgba(255, 255, 255, 0.65);
}

/* MENU */

#menu > .interior {
  margin: 0 auto;
  width: 80rem;
  max-width: 90%;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.wrapper > header {
  text-align: center;
  background: #fff;
  padding: 2rem;
  margin: 0;
}

.wrapper > header h2 {
  position: relative;
  padding-bottom: 0.75rem;
}

.wrapper > header h2:after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 1px;
  background-color: rgb(3, 191, 204);
}

.wrapper > header p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  margin: 0;
}

.wrapper > header.special {
  padding: 4rem 2rem;
}

.wrapper.style1 .content {
  padding: 6rem;
}

.wrapper.style2 {
  background:rgba(10, 236, 217,0.4);
  padding: 6rem;
}

.wrapper.style2 header {
  background: rgba(10, 236, 217,0.5);
  border-radius: 4px 4px 0 0;
}

.wrapper.style2 header h2 {
  color: #fff;
}

.wrapper.style2 header h2:after {
  background-color: rgba(255, 255, 255, 0.125);
}

.wrapper.style2 header p {
  color: rgba(255, 255, 255, 0.918);
}

@media screen and (max-width: 1280px) {
  .wrapper.style2 {
    padding: 4rem;
  }
}

@media screen and (max-width: 736px) {
  .wrapper.style2 {
    padding: 2rem;
  }
}

/* RODAPÉ */

#footer {
  padding: 2rem 0 0.1rem 0;
  text-align: center;
}

#footer a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#footer a:hover {
  color: #fff;
}

#footer .copyright {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  margin: 0 0 2rem 0;
  padding: 0 1rem;
  text-align: center;
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 1rem 0 0.1rem 0;
  }
}
